[Unit]
After=network.service
Description=clean 

[Service]
Type=simple
# WorkingDirectory=/code/python/myapp
Restart=always
RestartSec=1
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
Restart=on-failure
ExecStart=/home/nano/clean.sh

# User=do-user

[Install]
WantedBy=multi-user.target
# WantedBy=default.target
