{% extends "layout.html" %}
{% block content1 %}

{% endblock content1 %}
{% block content2 %}

{% endblock content2 %}

{% block content3 %}
<h1>PANEL SOURCE</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas2"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script src='/static/chart_2.js'>
</script>

{% endblock content3 %}

{% block content4 %}

<h1>AC CONSUMPTION</h1>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <canvas id="canvas1"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src='/static/chart.js'>
    </script>
    {% endblock content4 %}