{% extends "layout.html" %}


{% block content5 %}
<div>
    <h1>REPORTE  {{date_t}}</h1>
    <table>
        <tr>
            <th>PV power from sun</th>
            <th>PV current</th>
            <th>PV voltage</th>
            <th>PV power to LOAD</th>
            <th>POWER AC</th>
            <th>VOLTAGE AC</th>
            <th>CURRENT AC</th>

        </tr>
        <tr id=sensor1></tr>
    </table>
</div>
<script type="text/javascript" src="/static/report.js"></script>
{% endblock content5 %}

{% block content1 %}
<h1>PV Voltage {{date_t}}</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas3"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>


<script src='/static/chart_3.js'>
</script>


{% endblock content1 %}


{% block content2 %}
<h1>PV CURRENT {{date_t}}</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas4"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>


<script src='/static/chart_4.js'>
</script>
{% endblock content2 %}



{% block content3 %}
<h1>PANEL SOURCE {{date_t}}</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas2"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script src='/static/chart_2.js'>
</script>

{% endblock content3 %}




{% block content4 %}

<h1>AC CONSUMPTION {{date_t}}</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas1"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>


<script src='/static/chart.js'>
</script>
{% endblock content4 %}